body {
  background-image: linear-gradient(
    -225deg,
    #69eacb 0%,
    #eaccf8 48%,
    #6654f1 100%
  );
  -webkit-animation: Animation 60s ease infinite;
  -moz-animation: Animation 60s ease infinite;
  animation: Animation 60s ease infinite;
  background-size: 200% 200%;
  text-align: center;
}

@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

.main {
  height: 100vh;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: black;
  text-align: center;
}

.group {
  position: absolute;
  top: 10%;
  width: fit-content;
}

.group button {
  border: none;
  font-size: large;
}
